<h1>Add a job</h1>

<%#= render "form" %>

<!-- <form class="new_job" id="new_job" action="/jobs" method="post">
  <div>
    <label for="job_title">Title</label>
    <input class="form-control" type="text" name="job[title]" id="job_title" />
  </div>
  <div>
    <label for="job_description">Description</label>
    <textarea class="form-control" name="job[description]" id="job_description" cols="60" rows="6">
</textarea>
  </div>
  <div>
    <label for="job_location">Location</label>
    <input class="form-control" type="text" name="job[location]" id="job_location" />
  </div>
  <br>
  <div>
    <input class="btn btn-primary" type="submit" name="commit" value="Create Job" />
  </div>
</form> -->

<%= form_for :job, :url => { :action => 'create' } do |f| %>
  Title: <%= f.text_field :title, class: 'form-control'%><br />
  Location: <%= f.text_field :location, class: 'form-control' %><br />
  Description : <%= f.text_area :description, class: 'form-control' %><br />
  <%= f.submit "Submit", class: 'btn btn-primary' %>

<% end %>